<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WISATA | ADD</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
     body{
            width: 100%;
            height: 50rem;
            background-color: rgb(122, 114, 114);
        }
        .content{
            padding-top: 50px;
            display:flex;
            flex-direction: column;
            height: 100vh;
        }
        #offcanvasNavbarLabel, a{
            text-decoration: none;
            color: white;
        }
        .content{
          width: 100%;
          padding-top: 50px;
          display: flex;
          align-items: center;
        }

        h1{
          padding-top: 30px;
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 3rem;
          color: wheat;          
        }
        h2{
            text-align: center;
            font-size: 3rem;
            margin-top: 1rem;
            font-weight: 200;
        }
        #edit{            
            width: 80rem; 
            margin-top: 2rem;  
        }
</style> 
<script>
$(document).ready(function () {
      $('#logout').click(function () {
        logout();
      });
    });  

    function logout() {
    $.removeCookie('MYLAST', { path: '/' });
    alert('Signed out!');
    window.location.href = ("/");
}

function posting() {
    let imageFile = $('#image')[0].files[0];
    let title = $('#image-title').val();
    let content = $('#image-description').val();

    let paket1 = $('#paket1').val();
    let description1 = $('#deskripsi1').val();
    let tiket1 = $('#tiket1').val();
    let harga1 = $('#harga1').val();

    let paket2 = $('#paket2').val();
    let description2 = $('#deskripsi2').val();
    let tiket2 = $('#tiket2').val();
    let harga2 = $('#harga2').val();
    
    let form_data = new FormData();

 
    form_data.append('file_give', imageFile);
    form_data.append('title_give', title);
    form_data.append('description_give', content);

    form_data.append('paket1_give', paket1);
    form_data.append('description1_give', description1);
    form_data.append('tiket1_give', tiket1);
    form_data.append('harga1_give', harga1);

    form_data.append('paket2_give', paket2);
    form_data.append('description2_give', description2);
    form_data.append('tiket2_give', tiket2);
    form_data.append('harga2_give', harga2);

    $.ajax({
        type: 'POST',
        url: '/wisata_add',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function (response) {
            // console.log('Data wisata berhasil ditambahkan');
            alert(response['msg'])
        },
        error: function (error) {
            // console.error('Terjadi kesalahan saat menambahkan data wisata:', error);
            alert(response['msg'])
        }
    });
}


</script> 
</head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/admin">NeosantaraTour</a>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ user_info.username }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" onclick="return false;" href="/admin">Dashboard</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Manage Data
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/data_view">Data View</a></li>
                  <li><a class="dropdown-item" href="/data_wisata">Data Wisata</a></li>
                </ul>
              </li>
            </ul>
          </div>
              <button class="btn btn-outline-danger" id="logout" onclick="logout()">Log out</button>
        </div>
      </div>
  </nav>

    <section class="content">
    <h1>TAMBAHKAN WISATA</h1>       
            <div class="container form">
                <div class="p-5 mb-4 bg-light rounded-3">
                  <div class="container-fluid py-5">
                  <div class="input-group mb-3 custom-file">
                      <input type="file"  class="form-control" id="image">
                  </div>                
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="image-title"
                        placeholder="NAMA WISATA"
                      />
                    </div>
                    <div class="mb-3">
                      <textarea
                        placeholder="DESKRIPSI WISATA"
                        class="form-control"
                        id="image-description"
                        rows="3"
                      ></textarea>
                    </div>

                    <h2>PAKET 1</h2>
                    <div class="paket1">
                        <div class="mb-3">
                            <input
                              type="text"
                              class="form-control"
                              id="paket1"
                              placeholder="NAMA PAKET"
                            />
                          </div>
                          <div class="mb-3">
                            <textarea
                              placeholder="DESKRIPSI PAKET"
                              class="form-control"
                              id="deskripsi1"
                              rows="3"
                            ></textarea>
                          </div>
                          <div class="d-flex justify-content-center mt-3">
                            <div class="mb-8 mx-5">                                 
                                <input type="number" class="form-control" id="tiket1" placeholder="Masukkan jumlah tiket">
                            </div>
                            <div class="mb-8 mx-5">                                 
                                <input type="number" class="form-control" id="harga1" placeholder="Masukkan harga tiket">
                            </div>
                        </div>
                        </div>

                        <h2>PAKET 2</h2>
                        <div class="paket1">
                            <div class="mb-3">
                                <input
                                  type="text"
                                  class="form-control"
                                  id="paket2"
                                  placeholder="NAMA PAKET"
                                />
                              </div>
                              <div class="mb-3">
                                <textarea
                                  placeholder="DESKRIPSI PAKET"
                                  class="form-control"
                                  id="deskripsi2"
                                  rows="3"
                                ></textarea>
                              </div>
                              <div class="d-flex justify-content-center mt-3">
                                <div class="mb-8 mx-5">                                 
                                    <input type="number" class="form-control" id="tiket2" placeholder="Masukkan jumlah tiket">
                                </div>
                                <div class="mb-8 mx-5">                                 
                                    <input type="number" class="form-control" id="harga2" placeholder="Masukkan harga tiket">
                                </div>
                            </div>
                            </div>
               <div class="d-flex justify-content-center">
                 <button type="button" id="edit" onclick="posting()" class="btn btn-outline-success">SUBMIT</button>
               </div>
                </div> 
            </div> 
            
            </div>
        </section>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>